body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.circle {
  height: 45px;
  width: 45px;
  font-size: 30px;
  background-color: #7BB2D9;
  color: white;
  border-radius: 50%;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.answer-hide {
  height: 60px;
  width: 60px;
  font-size: 30px;
  background-color: #F7F7F2;
  color: #F7F7F2;
  border-radius: 50%;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.answer-show {
  height: 60px;
  width: 60px;
  font-size: 30px;
  background-color: #F7F7F2;
  color: #899878;
  border-radius: 50%;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.score {
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #899878;
}

.letter-board {
  padding: 30px;
  border: 1px dashed #999;
  border-radius: 5px;
  text-align-last: center;
}

.answer-board {
  padding: 30px;
  text-align-last: center;
}