body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  text-align: -webkit-center;
}

.alphabet-board {
  padding: 30px;
  border: 1px dashed #999;
  border-radius: 5px;
  width: 500px;

  .letter {
    height: 45px;
    width: 45px;
    font-size: 30px;
    background-color: #82c0cc;
    color: white;
    border-radius: 50%;
    font-weight: bold;
    margin: 5px;
    text-align: center;

    &:hover {
      background-color: #489fb5;
      cursor: pointer;
    }

    &.disabled {
      background-color: #16697a;
      pointer-events: none;
    }
  }
}

.quiz-board {
  padding: 30px;
  text-align:center;

  .answer {
    height: 60px;
    width: 60px;
    font-size: 30px;
    background-color: #F7F7F2;
    // border-radius: 50%;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    pointer-events: none;

    &.hide {
      color: #F7F7F2;
    }

    &.show {
      color: #899878;
    }
  }
}

.next-btn {
  margin-bottom: 20px;
  height: 25px;
  width: 100px;
  font-size: 15px;
  background-color: #D8BFAA;
  border: none;
  border-radius: 2%;
}

.score {
  padding: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #899878;
}